<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_StockReminder>
            <version>1.0.0</version>
        </Edge_StockReminder>
    </modules>
    <global>
        <models>
            <stockreminder>
                <class>Edge_StockReminder_Model</class>
                <resourceModel>stockreminder_resource</resourceModel>
            </stockreminder>
            <stockreminder_resource>
                <class>Edge_StockReminder_Model_Resource</class>
                <entities>
                    <stockreminder>
                        <table>stockreminder</table>
                    </stockreminder>
                </entities>
            </stockreminder_resource>
        </models>
        <helpers>
            <stockreminder>
                <class>Edge_StockReminder_Helper</class>
            </stockreminder>
        </helpers>
        <resources>
            <stockreminder_setup>
                <setup>
                    <module>Edge_StockReminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stockreminder_setup>
            <stockreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stockreminder_read>
            <stockreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stockreminder_write>
        </resources>
        <blocks>
            <stockreminder>
                <class>Edge_StockReminder_Block</class>
            </stockreminder>
        </blocks>
        <events>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <send_stock_is_back>
                        <class>Edge_StockReminder_Model_Observer</class>
                        <method>sendStockIsBack</method>
                    </send_stock_is_back>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
        </events>
        <template>
            <email>
                <stock_reminder_email_template translate="label" module="stockreminder">
                    <label>Stock Reminder email template</label>
                    <file>stock_reminder.html</file>
                    <type>html</type>
                </stock_reminder_email_template>
            </email>
        </template>
    </global>

    <frontend>
         <events>
            <checkout_cart_product_add_after>
                <observers>
                    <check_out_of_stock>
                        <class>Edge_StockReminder_Model_Observer</class>
                        <method>checkOutOfStock</method>
                    </check_out_of_stock>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <routers>
            <stockreminder>
                <use>standard</use>
                <args>
                    <module>Edge_StockReminder</module>
                    <frontName>stockreminder</frontName>
                </args>
            </stockreminder>
        </routers>
        <layout>
            <updates>
                <stockreminder>
                    <file>edge/stockreminder.xml</file>
                </stockreminder>
            </updates>
        </layout>
    </frontend>
</config>